/*
 *author: Developed by Stas Melnikov. http://stas-melnikov.ru
 *e-mail: melnik909@ya.ru
 *linkedIn: https://www.linkedin.com/in/melnik909
 *github: https://github.com/melnik909
 *facebook: https://www.facebook.com/melnik909
*/
/*
 *mixins
 */
/*
 *basic style
 */
.mpc_preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  -webkit-transform: translateZ(0px) translate(-50%, -50%);
  transform: translateZ(0px) translate(-50%, -50%);
}
.mpc_preloader_no_fixed {
  position: absolute;
}
/*
 *mpc_preloader9
 */
.mpc_preloader9:before,
.mpc_preloader9:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
}
.mpc_preloader9:before {
  background-color: #6cc88a;
  -webkit-transform: translateZ(0px) translate(-50%, 0%);
  transform: translateZ(0px) translate(-50%, 0%);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: mpc_preloader_left_round 1.8s infinite ease-in-out;
  animation: mpc_preloader_left_round 1.8s infinite ease-in-out;
}
.mpc_preloader9:after {
  background-color: #4fc3f7;
  -webkit-transform: translateZ(0px) translate(150%, 0%);
  transform: translateZ(0px) translate(150%, 0%);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: mpc_preloader_right_round 1.8s infinite ease-in-out;
  animation: mpc_preloader_right_round 1.8s infinite ease-in-out;
}
@-webkit-keyframes mpc_preloader_left_round {
  50% {
    -webkit-transform: translateZ(0px) translate(150%, 0%);
    transform: translateZ(0px) translate(150%, 0%);
  }
  100% {
    -webkit-transform: translateZ(0px) translate(-50%, 0%);
    transform: translateZ(0px) translate(-50%, 0%);
  }
}
@keyframes mpc_preloader_left_round {
  50% {
    -webkit-transform: translateZ(0px) translate(150%, 0%);
    transform: translateZ(0px) translate(150%, 0%);
  }
  100% {
    -webkit-transform: translateZ(0px) translate(-50%, 0%);
    transform: translateZ(0px) translate(-50%, 0%);
  }
}
@-webkit-keyframes mpc_preloader_right_round {
  50% {
    -webkit-transform: translateZ(0px) translate(-50%, 0%);
    transform: translateZ(0px) translate(-50%, 0%);
  }
  100% {
    -webkit-transform: translateZ(0px) translate(150%, 0%);
    transform: translateZ(0px) translate(150%, 0%);
  }
}
@keyframes mpc_preloader_right_round {
  50% {
    -webkit-transform: translateZ(0px) translate(-50%, 0%);
    transform: translateZ(0px) translate(-50%, 0%);
  }
  100% {
    -webkit-transform: translateZ(0px) translate(150%, 0%);
    transform: translateZ(0px) translate(150%, 0%);
  }
}
/*
 *mpc_preloader18
 */
.mpc_preloader18 {
  height: 150px;
  width: 150px;
  background-color: #000000;
  -webkit-animation: mpc_preloader18 2s ease-in-out alternate infinite;
  animation: mpc_preloader18 2s ease-in-out alternate infinite;
}
.mpc_preloader18_label {
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  margin-left: -30px;
  -webkit-animation: zoom_text 2s ease-in-out alternate infinite;
  animation: zoom_text 2s ease-in-out alternate infinite;
}
@keyframes mpc_preloader18 {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-radius: 50%;
    background-color: #ffffff;
  }
}
@-webkit-keyframes mpc_preloader18 {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-radius: 50%;
    background-color: #ffffff;
  }
}
@keyframes zoom_text {
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    color: #000000;
  }
}
@-webkit-keyframes zoom_text {
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    color: #000000;
  }
}
/*
 *mpc_preloader27
 */
.mpc_preloader27 {
  font-family: verdana;
  font-size: 17px;
  color: #000000;
}
.mpc_preloader27:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  height: 45px;
  width: 45px;
  background: url('http://stas-melnikov.ru/logo_devlab.svg') no-repeat center 5px #1493c8;
  -webkit-animation: timing_background 20s infinite;
  animation: timing_background 20s infinite;
}
@-webkit-keyframes timing_background {
  10% {
    background-color: #18cc20;
  }
  20% {
    background-color: #737f09;
  }
  30% {
    background-color: #760b61;
  }
  40% {
    background-color: #d397c7;
  }
  50% {
    background-color: #37b6df;
  }
  60% {
    background-color: #b52248;
  }
  70% {
    background-color: #272526;
  }
  80% {
    background-color: #46549c;
  }
  90% {
    background-color: #049a12;
  }
  100% {
    background-color: #1493c8;
  }
}
@keyframes timing_background {
  10% {
    background-color: #18cc20;
  }
  20% {
    background-color: #737f09;
  }
  30% {
    background-color: #760b61;
  }
  40% {
    background-color: #d397c7;
  }
  50% {
    background-color: #37b6df;
  }
  60% {
    background-color: #b52248;
  }
  70% {
    background-color: #272526;
  }
  80% {
    background-color: #46549c;
  }
  90% {
    background-color: #049a12;
  }
  100% {
    background-color: #1493c8;
  }
}
